#consulta,#selectBusqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#selectBusqueda{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
img{
    
}
header{
    background-color: burlywood;
    text-align: center;
    color: brown;
    padding: 5px;
    margin-bottom: 5px;
}
html,body{
    margin: 0;
}